{% extends 'main_app/base.html' %} {% load static %} {% block title%}Home{% endblock %} {% block content %}
<link rel="stylesheet" href="{% static 'main_app/css/home.css' %}" />

<!-- fade, flip zoom (-up -down -left -right) para duracion de la animación: data-aos-duration="" -->
<div id="progress-bar"></div>

<a name="home"></a>
<section
  data-aos="zoom-in"
  data-aos-duration="1000"
  class="container-welcome-section portfolio-section"
  data-aos-anchor-placement="top-bottom"
>
  <img
    src="{% static 'main_app/img/developer-img.png' %}"
    alt="computer"
    class="img-xl"
  />

  <div data-aos="flip-up" data-aos-duration="1000" class="welcome-card">
    <h2 class="main-title">Mi nombre es Ricardo Morales</h2>
    <p class="text-content fz-1">
      Soy un joven desarrollador de software con un amplio conocimiento en
      tecnologías web, tanto frontend cómo backend.
      <br />
      Actualmente estudio la carrera de ingeniería en sistemas.
    </p>
  </div>
</section>

<a name="projects"></a>
<section
  class="projects-section portfolio-section"
  style="color: var(--white)"
  data-aos="zoom-in"
  data-aos-duration="1000"
  data-aos-anchor-placement="top-bottom"
>
  <h2 class="main-title">Mis proyectos</h2>
  <div class="projects-container">
    {% for project in projects %}
    <div class="projects-link" data-aos="flip-right" data-aos-duration="1000">
      <div class="flip-card-inner">
        <div class="project-front">
          <img
            src="{{project.project_image.url}}"
            alt="{{project.project_name}}"
            class="project-image"
          />
        </div>

        <div class="project-back">
          <h2 class="project-title">{{project.project_name}}</h2>
          <p class="project-description">{{project.project_description}}</p>

          <a href="{{project.project_link}}" class="b-button b-button-outlined" style="min-width: 60px;margin-top: 10px;border: 1px white solid;">
            Ver
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<a name="about-me"></a>
<section
  class="my-knowladge portfolio-section"
  data-aos="flip-right"
  data-aos-duration="1000"
  data-aos-anchor-placement="top-center"
>
  <h2 style="text-overflow: clip" class="main-title">Mis conocimientos</h2>
  <div class="container-row" data-aos="flip-down" data-aos-duration="1000">
    {% for knowledge in knowledges %}
    <div class="technology-container">
      <h3 style="color: {{ knowledge.icon_color }}; font-size: var(--h1-fz);">
        {% if knowledge.icon_type == "fontawesome" %}
        <i style="font-size: 60px" class=" {{ knowledge.icon_name }}"></i>
        {% elif knowledge.icon_type == "img" %}
        <img
          src="{{ knowledge.icon_name }}"
          style="width: 100%; max-height: 70px; object-fit: contain"
        />
        {% else %} {{ knowledge.icon_name }} {% endif %}
      </h3>
      <span style="color: #fff; font-weight: 600"
        >{{ knowledge.knowledge_name }}</span
      >
      <p class="text-content-sm" style="color: var(--white)">
        {{ knowledge.description }}
      </p>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
