@keyframes nav-link-display-transition {
    from {
        top: -140px;
    }
    to {
        top: 50px;
    }
}

@keyframes nav-link-display-transition-backwards {
    from {
        top: 50px;
    }
    to {
        top: -160px;
    }
}